<div class="container mt-4">
    <h2>{{textoTitulo}}</h2>
    <div class="alert alert-success my-3" role="alert" *ngIf="mensaje">
      {{mensaje}}
    </div>
    <form [formGroup]="usuarioForm" (ngSubmit)="enviarDatos()">
        <div class="mb-3">
          <label for="nombreUsuario" class="form-label">Nombre Usuario</label>
          <input [(ngModel)]="usuarios.nombreUsuario" type="text" class="form-control" id="nombreUsuario" formControlName="nombreUsuario" required>
        </div>
      
        <div class="mb-3">
          <label for="contra" class="form-label">Contraseña Usuario</label>
          <input [(ngModel)]="usuarios.contra" type="text" class="form-control" id="contra" formControlName="contra" required>
        </div>
      
        <div class="mb-3">
          <label for="correoUsuario" class="form-label">Correo Usuario:</label>
          <input [(ngModel)]="usuarios.correoUsuario" type="text" class="form-control" id="correoUsuario" formControlName="correoUsuario" required>
        </div>
      
        <button type="submit" class="btn btn-primary">{{botonEnviarDatos}}</button>
      </form>
  </div>
  