<div class="container mt-4">
  <h2>{{textoTitulo}}</h2>

  <div class="alert alert-success my-3" role="alert" *ngIf="mensaje">
    {{mensaje}}
  </div>

  <form [formGroup]="juegoForm" (ngSubmit)="enviaDatos()">
    <div class="mb-3">
      <label for="nombreJuego" class="form-label">Nombre del Juego:</label>
      <input [(ngModel)]="juegos.nombreJuego" type="text" class="form-control" id="nombreJuego"
        formControlName="nombreJuego" required>
    </div>

    <div class="mb-3">
      <label for="codigoReferenciaJuego" class="form-label">Código de Referencia del Juego:</label>
      <input [(ngModel)]="juegos.codigoReferenciaJuego" type="text" class="form-control" id="codigoReferenciaJuego"
        formControlName="codigoReferenciaJuego" required>
    </div>

    <div class="mb-3">
      <label for="precioJuego" class="form-label">Precio del Juego:</label>
      <input [(ngModel)]="juegos.precioJuego" type="number" class="form-control" id="precioJuego"
        formControlName="precioJuego" required>
    </div>

    <button type="submit" class="btn btn-primary">{{buttonText}}</button>
  </form>
</div>